/* /////////////// Trending ////////////// */
.trending-div {
  width: calc(100% - 40px);
  height: 300px;
  margin-left: 40px;
  margin-top: 30px;
}
.trending-div-title, .recommended-div-title {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}
.trending-div-slider {
  max-width: 100%;
  height: 230px;
  display: flex;
  margin-top: 20px;
  overflow-x: auto;
}
.trending-div-slider::-webkit-scrollbar {
  display: none;
}
.trending-img-div {
  max-width: 480px;
  position: relative;
}
.trending-img-div:first-child {
  margin-left: 0px;
}
.trending-image {
  width: 470px;
  height: 225px;
  border-radius: 8px;
  transition: 0.5s;
}
.trending-img-div:hover > .trending-image {
  filter: brightness(50%);
}
.trending-img-div:hover .play-div {
  display: flex;
}
.trending-movie-description {
  min-width: 150px;
  height: 55px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  left: 24px;
}
.trending-movie-description p {
  font-size: 24px;
}
.trending-movie-description span {
  font-size: 15px;
}
.mini-circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* /////////////// Recommended ////////////// */
.recommended-div {
  width: calc(100% - 80px);
  min-height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}
.recommended-img-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 40px;
}
.recommended-img-div {
  min-width: 280px;
  max-width: 280px;
  height: 250px;
}
.recommended-img-box {
  min-width: 280px;
  max-width: 280px;
  height: 174px;
  position: relative;
}
.recommended-img-box:hover .recommended-image {
  filter: brightness(40%);
}
.recommended-img-box:hover .play-div {
  display: flex;
}
.recommended-image {
  min-width: 280px;
  max-width: 280px;
  height: 174px;
  border-radius: 8px;
  transition: 0.5s;
}
.recommended-movie-description {
  width: 150px;
  height: 55px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 8px;
}
.recommended-movie-description p {
  font-size: 18px;
  margin-top: 5px;
}
.recommended-movie-description span {
  font-size: 13px;
}

/* //////////////////////////////// */
.play-div {
  width: 117px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  border-radius: 28.5px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  align-items: center;
  display: none;
  cursor: pointer;
}
.play-div:hover {
  display: flex;
}
.play-img {
  margin-left: 9px;
}
.play-span {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 19px;
}
.circle {
  width: 32px;
  height: 32px;
  background: #10141E;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle:hover {
  background-color: white;
}
.bookmarked-logo {
  width: 12px;
  height: 14px;
  background: url("../../../public/assets/BookmarkedIcon.png");
}
.bookmarked-logo-active {
  width: 12px;
  height: 14px;
  background: url("../../../public/assets/BookmarkedIconActive.png");
}
.circle:hover .bookmarked-logo {
  background: url("../../../public/assets/BookmarkedIconHovered.png");
}
.circle:hover .bookmarked-logo-active {
  background: url("../../../public/assets/BookmarkedIconHovered.png");
}

/* //////////// MEDIA /////////// */
@media (max-width: 1154px) {
  .trending-div {
    margin-top: 50px;
  }
  .recommended-div {
    margin-top: 80px;
  }
  .recommended-div-title {
    text-align: center;
    font-size: 34px;
  }
  .recommended-img-container {
    justify-content: space-around;
    margin-top: 50px;
  }
}
@media (max-width: 730px) {
  .trending-div {
    margin-left: 15px;
  }
  .trending-img-div {
    max-width: 330px;
  }
  .trending-image {
    width: 330px;
  }
}
@media (max-width: 550px) {
  .recommended-div-title {
    font-size: 25px;
  }
  .trending-img-div {
    max-width: 280px;
  }
  .trending-image {
    width: 280px;
  }
}
@media (max-width: 480px) {
  .trending-div {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .trending-div {
    margin-left: 0px;
  }
  .trending-div-title, .recommended-div-title {
    font-size: 20px;
    margin-top: -35px;
  }
  .trending-div-slider {
    max-width: 230px;
    height: 150px;
    margin-top: 10px;
  }
  .trending-image {
    width: 230px;
    height: 150px;
  }
  .play-div {
    width: 100px;
    height: 35px;
    border-radius: 15px;
  }
  .play-img {
    width: 20px;
    height: 20px;
  }
  .play-span {
    font-size: 15px;
    margin-left: 13px;
  }
  .circle {
    width: 25px;
    height: 25px;
    top: 8px;
    right: 8px;
  }
  .trending-movie-description {
    min-width: 150px;
    height: 40px;
    bottom: -5px;
  }
  .trending-movie-description p {
    font-size: 13px;
    margin-top: 2px;
  }
  .trending-movie-description span {
    font-size: 11px;
  }

  .recommended-div {
    width: 100%;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: -80px;
  }
  .recommended-div-title {
    width: 175px;
    margin-left: 0px;
    text-align: left;
  }
  .recommended-img-container {
    margin-top: 10px;
  }
  .recommended-img-div {
    min-width: 100%;
    max-width: 100%;
    height: 160px;
  }
  .recommended-img-box {
    min-width: 100%;
    max-width: 100%;
    height: 120px;
  }
  .recommended-image {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .recommended-movie-description p {
    font-size: 12px;
  }
  .recommended-movie-description span {
    font-size: 11px;
  }
}